<div class="section-title">
<u><b><center><h2> Avis de nos clients !</h2></center></b></u>
</div>

<div id="looxCarousel" data-show-more="{{section.settings.show_more}}"></div>
{% schema %}
{
	"name": "Reviews - Carousel",
	"class": "index-section",
	"settings": [{
		"id": "show_more",
		"type": "checkbox",
		"label": "Display \"Show more\" button",
		"default": true
	}],
	"presets": [{
		"name": "Reviews - Carousel",
		"category": "Loox"
	}]
}
{% endschema %}

<style>
#shopify-section-1550232559131 { margin-top: 60px; }
.section-title h2 {
    padding: 0 0 30px 0;
    float: left;
    width: 100%;
    text-decoration: underline;
    font-weight: 700;
}
  
.slider-arrow {
    display: none;
}
  
  @media only screen and (max-width: 600px) {
  .mobile-hide {
    display:none !important;
  }
}
</style>

<script>
  $(document).ready(function() {
    //$('iframe').load( function() {
      $('iframe').addClass('test');
      $('iframe').contents().find("head")
        .append($("<style type='text/css'>  .slider-arrow{display:none;}  </style>"));
    //});
  }); 
</script>
