{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<!-- /templates/page.contact.liquid waqar -->

<div class="banner-collections MainContactPage" style="margin-top:{{section.settings.productcarousel_margin_top}};">
  
<div class="gri">
  <div class="section-you-may-like"></div>
    
{% comment %}  
<div class="wrapper Featured-collection-wrapper test cont product-page">
<header class="section-header">
        <h2 class="section-header__title">🐶 Un coup de coeur ? 🐱</h2>
      </header>
  <div class="grid-uniform">
<div class="related-products ">
  
<!-- /snippets/product-grid-item.liquid -->

<div class="grid__item grid-product">
  <div class="grid-product__wrapper">
    <div data-aos="zoom-out" data-aos-delay="200" class="grid-product__image-wrapper" data-aos="row-of-4">
      <a class="grid-product__image-link" href="/collections/toiles/products/canvas-medium">
        
          
          <div class="image-wrap product--wrapper">
            <div style="padding-top:125.1111111%;">
              <img
               class="product--image lazyload ProductImage-2132066107439"
                   src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/canvas_medium_a85f11c0-7d8b-46fe-9ccb-c06b08be8591_large.png?v=1531986341"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="0.7992895204262878"
                   data-sizes="auto"
                   alt="Canvas Medium">
            </div>
          </div>
<!--           <noscript>
            <img class="grid-product__image" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/mediumcanvas_450x650_7e480c91-ec98-43cd-a647-44dbe1d125c8_1024x.jpg?v=1520567605" alt="Canvas Medium">
          </noscript> -->
        
      </a>
      
    </div>

    <a href="/collections/toiles/products/canvas-medium" class="grid-product__meta">
      <span class="grid-product__title">Tableau taille 34x34</span>
      <div class="yotpo bottomLine" data-product-id="561937219631" data-url="/collections/toiles/products/canvas-medium"></div>
      <span class="grid-product__price-wrap">
        
        <span class="grid-product__price">
          
             <span class="visually-hidden">Regular price</span>
          
          
            €149,99
          
        </span>
      </span>
      
    </a>
  </div>
</div>

<!-- /snippets/product-grid-item.liquid -->


<div class="grid__item grid-product">
  <div class="grid-product__wrapper">
    <div data-aos="zoom-out" data-aos-delay="200" class="grid-product__image-wrapper" data-aos="row-of-4">
      <a class="grid-product__image-link" href="/collections/toiles/products/canvas-small">
        
          
          <div class="image-wrap product--wrapper">
            <div style="padding-top:125.1111111%;">
              <img
               class="product--image lazyload ProductImage-2132155334703"
                   src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/canvas_small_1b8400d6-52da-4ec2-bb6b-62844aef7d64_large.png?v=1531986620"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="0.7992895204262878"
                   data-sizes="auto"
                   alt="Canvas small">
            </div>
          </div>
<!--           <noscript>
            <img class="grid-product__image" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/smallcnvas_450x650_a9a02e64-28a2-4b8f-a48e-3d3e2c86fd30_1024x.jpg?v=1520568977" alt="Canvas small">
          </noscript> -->
        
      </a>
      
    </div>

    <a href="/collections/toiles/products/canvas-small" class="grid-product__meta">
      <span class="grid-product__title">Tableau taille 48x48</span>
      <div class="yotpo bottomLine" data-product-id="561953505327" data-url="/collections/toiles/products/canvas-small"></div>
      <span class="grid-product__price-wrap">
        
        <span class="grid-product__price">
          
             <span class="visually-hidden">Regular price</span>
          
          
            €149,99
          
        </span>
      </span>
      
    </a>
  </div>
</div>

    
<!-- /snippets/product-grid-item.liquid -->


<div class="grid__item grid-product">
  <div class="grid-product__wrapper">
    <div data-aos="zoom-out" data-aos-delay="200" class="grid-product__image-wrapper" data-aos="row-of-4">
      <a class="grid-product__image-link" href="/collections/femme/products/ladies-crop-top">
        
          
          <div class="image-wrap product--wrapper">
            <div style="padding-top:125.030525%;">
              <img
               class="product--image lazyload ProductImage-2365513859119"
                   src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/1_1080x_0db1e457-ea05-4018-ada6-7cacb405d7f4_large.png?v=1531542513"
                   
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="0.7998046875"
                   data-sizes="auto"
                   alt="Tee shirt Femme COL ROND">
            </div>
          </div>
          <noscript>
            <img class="grid-product__image" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/Crop_1024x1024_72db4f49-11a0-427c-89e8-70824e0db246_1024x.jpg?v=1523437953" alt="Tee shirt Femme COL ROND">
          </noscript>
        
      </a>
      
    </div>

    <a href="/collections/femme/products/ladies-crop-top" class="grid-product__meta">
      <span class="grid-product__title">T-Shirt Femme col rond</span>
      <div class="yotpo bottomLine" data-product-id="561954652207" data-url="/collections/femme/products/ladies-crop-top"></div>
      <span class="grid-product__price-wrap">
        
        <span class="grid-product__price">
          
             <span class="visually-hidden">Regular price</span>
          
          
            €149,99
          
        </span>
      </span>
      
    </a>
  </div>
</div>
<!-- /snippets/product-grid-item.liquid -->


<div class="grid__item grid-product">
  <div class="grid-product__wrapper">
    <div data-aos="zoom-out" data-aos-delay="200" class="grid-product__image-wrapper" data-aos="row-of-4">
      <a class="grid-product__image-link" href="/collections/enfant/products/chambray-button-down">
        
          
          <div class="image-wrap product--wrapper">
            <div style="padding-top:125.030525%;">
              <img
               class="product--image lazyload ProductImage-2405531418671"
                   src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/tee_shirt_fille_large.png?v=1531986749"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="0.7998046875"
                   data-sizes="auto"
                   alt="https://www.youtube.com/embed/wbpOidLOGkw?version=3&amp;loop=1&amp;autohide=1&amp;autoplay=1&amp;branding=0&amp;cc_load_policy=0&amp;controls=0&amp;fs=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;quality=hd720&amp;rel=0&amp;showinfo=0&amp;wmode=opaque&amp;widget_referrer=https%3A%2F%2Fmotion-theme-adventure.myshopify.com%2Fcollections%2Fmens%2Fproducts%2Fcopy-of-adventure-mobile-terry-pullover&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fmotion-theme-adventure.myshopify.com&amp;widgetid=1">
            </div>
          </div>
<!--           <noscript>
            <img class="grid-product__image" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/m-wenlock1_1024x.jpg?v=1523865916" alt="https://www.youtube.com/embed/wbpOidLOGkw?version=3&amp;loop=1&amp;autohide=1&amp;autoplay=1&amp;branding=0&amp;cc_load_policy=0&amp;controls=0&amp;fs=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;quality=hd720&amp;rel=0&amp;showinfo=0&amp;wmode=opaque&amp;widget_referrer=https%3A%2F%2Fmotion-theme-adventure.myshopify.com%2Fcollections%2Fmens%2Fproducts%2Fcopy-of-adventure-mobile-terry-pullover&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fmotion-theme-adventure.myshopify.com&amp;widgetid=1">
          </noscript> -->
        
      </a>
      
    </div>

    <a href="/collections/enfant/products/chambray-button-down" class="grid-product__meta">
      <span class="grid-product__title">T-Shirt Fille col rond</span>
      <div class="yotpo bottomLine" data-product-id="559338618927" data-url="/collections/enfant/products/chambray-button-down"></div>
      <span class="grid-product__price-wrap">
        
        <span class="grid-product__price">
          
             <span class="visually-hidden">Regular price</span>
          
          
            €68
          
        </span>
      </span>
      
    </a>
  </div>
</div>

    
    
<!-- /snippets/product-grid-item.liquid -->


<div class="grid__item grid-product">
  <div class="grid-product__wrapper">
    <div data-aos="zoom-out" data-aos-delay="200" class="grid-product__image-wrapper" data-aos="row-of-4">
      <a class="grid-product__image-link" href="/collections/customized-apparel/products/boys-crew">
        
          
          <div class="image-wrap product--wrapper">
            <div style="padding-top:125.1111111%;">
              <img
               class="product--image lazyload ProductImage-2950867419183"
                   src="https://cdn.shopify.com/s/files/1/0004/0809/2719/products/5_02f470e3-2d69-4686-9f0e-cded5a943e77_1024x.jpg?v=1533227094"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="0.7992895204262878"
                   data-sizes="auto"
                   alt="https://www.youtube.com/embed/wbpOidLOGkw?version=3&amp;loop=1&amp;autohide=1&amp;autoplay=1&amp;branding=0&amp;cc_load_policy=0&amp;controls=0&amp;fs=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;quality=hd720&amp;rel=0&amp;showinfo=0&amp;wmode=opaque&amp;widget_referrer=https%3A%2F%2Fmotion-theme-adventure.myshopify.com%2Fcollections%2Fmens%2Fproducts%2Fcopy-of-adventure-mobile-terry-pullover&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fmotion-theme-adventure.myshopify.com&amp;widgetid=1">
            </div>
          </div>
          <noscript>
            <img class="grid-product__image" src="https://cdn.shopify.com/s/files/1/0004/0809/2719/products/5_02f470e3-2d69-4686-9f0e-cded5a943e77_1024x.jpg?v=1533227094" alt="https://www.youtube.com/embed/wbpOidLOGkw?version=3&amp;loop=1&amp;autohide=1&amp;autoplay=1&amp;branding=0&amp;cc_load_policy=0&amp;controls=0&amp;fs=0&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;quality=hd720&amp;rel=0&amp;showinfo=0&amp;wmode=opaque&amp;widget_referrer=https%3A%2F%2Fmotion-theme-adventure.myshopify.com%2Fcollections%2Fmens%2Fproducts%2Fcopy-of-adventure-mobile-terry-pullover&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fmotion-theme-adventure.myshopify.com&amp;widgetid=1">
          </noscript>
        
      </a>
      
    </div>

    <a href="/collections/customized-apparel/products/boys-crew" class="grid-product__meta">
      <span class="grid-product__title">T-Shirt Homme col en V</span>
      <div class="yotpo bottomLine" data-product-id="561958289455" data-url="/collections/customized-apparel/products/boys-crew"></div> 
      <span class="grid-product__price-wrap">
        
        <span class="grid-product__price">
          
             <span class="visually-hidden">Regular price</span>
          
          
            €149,99
          
        </span>
      </span>
      
    </a>
  </div>
</div>

    
<!-- /snippets/product-grid-item.liquid -->



<div class="grid__item grid-product">
  <div class="grid-product__wrapper">
    <div data-aos="zoom-out" data-aos-delay="200" class="grid-product__image-wrapper" data-aos="row-of-4">
      <a class="grid-product__image-link" href="/collections/enfant/products/mens-crew">
        
          
          <div class="image-wrap product--wrapper">
            <div style="padding-top:125.0%;">
              <img
               class="product--image lazyload ProductImage-2258634965039"
                   src="https://cdn.shopify.com/s/files/1/0004/0809/2719/products/akzl_15a04183-718f-4b5c-ae34-27b52ceb83a2_200x.jpg?v=1533224297"
                   data-src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/akzl_15a04183-718f-4b5c-ae34-27b52ceb83a2_{width}x.jpg?v=1533224297"
                   data-widths="[180, 370, 590, 740, 900, 1080, 1296, 1512, 1728, 2048]"
                   data-aspectratio="0.8"
                   data-sizes="auto"
                   alt="Tee shirt Homme en V">
            </div>
          </div>
          <noscript>
            <img class="grid-product__image" src="//cdn.shopify.com/s/files/1/0004/0809/2719/products/crew_3hd_150x150.jpg?v=1521949750" alt="Tee shirt Homme en V">
          </noscript>
        
      </a>
      
    </div>

    <a href="/collections/enfant/products/mens-crew" class="grid-product__meta">
      <span class="grid-product__title">T-Shirt Enfant en V</span>
      <div class="yotpo bottomLine" data-product-id="561956651055" data-url="/collections/enfant/products/mens-crew"></div> 
      <span class="grid-product__price-wrap">
        
        <span class="grid-product__price">
          
             <span class="visually-hidden">Regular price</span>
          
          
            €149,99
          
        </span>
      </span>
      
    </a>
  </div>
</div>

     

  </div>

</div>
</div>
     


<script>
 
$('.related-products').owlCarousel({
    nav:true,
  	loop:true,
  	items: 1,
    responsive:{
         0:{
            items:2,
            margin:20,
            nav:true,
            loop:true
        },
        600:{
            items:3,
            margin:20,
            nav:true,
            loop:true
        },
        1000:{
            items:4,
          	margin:30,
            nav:true,
            loop:true
        }
    }
})

</script>
{% endcomment %}
  
<div class="wrapper" style="margin-top:25px;"> 
{% include 'webcast-product-slider' %}
  
{% include 'ContactSlideMob' %}   
  </div>
</div>



  <script type="application/json" id="ProductJson-product-template">
    {"id":561953505327,"title":"Canvas small","handle":"canvas-small","description":"","published_at":"2018-03-09T04:52:04+01:00","created_at":"2018-03-09T05:15:04+01:00","vendor":"mycreanimale","type":"","tags":["Canvas Medium","Canvas small","Chambray Button Down"],"price":14999,"price_min":14999,"price_max":14999,"available":true,"price_varies":false,"compare_at_price":null,"compare_at_price_min":0,"compare_at_price_max":0,"compare_at_price_varies":false,"variants":[{"id":7136010436655,"title":"Default Title","option1":"Default Title","option2":null,"option3":null,"sku":"","requires_shipping":true,"taxable":true,"featured_image":null,"available":true,"name":"Canvas small","public_title":null,"options":["Default Title"],"price":14999,"weight":0,"compare_at_price":null,"inventory_management":null,"barcode":""}],"images":["\/\/cdn.shopify.com\/s\/files\/1\/0004\/0809\/2719\/products\/smallcnvas_450x650_a9a02e64-28a2-4b8f-a48e-3d3e2c86fd30.jpg?v=1520568977","\/\/cdn.shopify.com\/s\/files\/1\/0004\/0809\/2719\/products\/mediumcanvas_450x650_8a248393-58f6-4193-be5a-6a9391f828c7.jpg?v=1520965050","\/\/cdn.shopify.com\/s\/files\/1\/0004\/0809\/2719\/products\/largecanvas_300x_11e2b61e-6864-4163-9da3-6f826369b8fa.jpg?v=1520965066"],"featured_image":"\/\/cdn.shopify.com\/s\/files\/1\/0004\/0809\/2719\/products\/smallcnvas_450x650_a9a02e64-28a2-4b8f-a48e-3d3e2c86fd30.jpg?v=1520568977","options":["Title"],"content":""}
  </script>


   <script>
   // $('.regular').zoom({ on: 'click'  });     
    
//    $('.image-zoom')
//       .css('display', 'block')
//       .parent()
//       .zoom({
//       on:'click',
//       touch: true,
//       magnify: 1.5,
//       url: $(this).find('img').attr('data-zoom'),
//       onZoomIn: function(){
//       $(this).parent().css('cursor','zoom-out')
//     },
//       onZoomOut: function(){
//       $(this).parent().css('cursor','zoom-in')
//     }
//       });
     
    

  
     $(".regular").not('.slick-initialized').slick({
         slidesToShow: 1,
         slidesToScroll: 1,
         dots: false,
         focusOnSelect: true,
         arrows: false,
         swipe: false
      });
     
     $('ul#ProductThumbs li').click(function(e) {
     e.preventDefault();
     var slideno = $(this).index();
     // $('.regular')..slick('slickGoTo', slideno-1);
     $('.regular').slickGoTo(slideno);
      
      
   });  
  </script>
  
  
  

<style>
.single-option-radio input[type="radio"]:checked + label {
    border: 2px solid #dbdcdb;
/*     padding: 13px 25px; */padding:9px 11px;
}
  .product-container-pp input#custom_photo {
    border: 1px solid #dbdcdb;
}
  .add-to-cart{
   background: #1cadff;
  font-family: "Roboto",!sans-serif important;
  font-weight: bolder;
  letter-spacing: -0.025em;
  line-height: 1.42;
  font-size: 14px;
    text-transform: inherit;
  }
  .add-to-cart:hover{
   background: #1cadff !important;
  }
  .product-single__thumb{
    width: 76px;
  }
  .accordion .accordion-head{
    font-size: 1em;
  }
  .accordion-head a{
    border-bottom: 2px solid rgba(0,0,0,0.1);
    position: relative;
  }
  .accordion-head a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    border-bottom: 2px solid #000;
    transition: width 0.5s ease;
}
  .accordion-head a:hover::after, .accordion-head a:focus::after {
    width: 100%;
}
  .regular:hover { 
  cursor: move; 
    cursor: zoom-in;
 cursor: -moz-grab;
  cursor: -webkit-zoom-in;
}
 .section-you-may-like {
    border-top: 1px solid #dbdcdb;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-top: 40px;
} 
  
  @media screen and (min-width: 591px) {
  .mobile-zoom{display:none}
    }
@media screen and (max-width: 590px) {
  .mobile-zoom{display:inline}
    }
 @media screen and (max-width: 766px){
.owl-dots {
    bottom: 0px !important;
}
 }
  
/*
.regular:focus{
  cursor: zoom-out;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
}*/
/*   .aos-animate {
    animation: zoom-fade 1.5s cubic-bezier(0.26, 0.54, 0.32, 1) 0s forwards;
} */

</style></div>

<div class="yml-bottom-border"></div>

<style type="text/css">
  .grid--small .grid__item {
    padding-left: 10px;
}
.medium-up--one-half {
/*     width: 50% !important; */
}
.grid__item {
    float: left;
/*     padding-left: 0px; */
    min-height: 1px;
}
.widescreen--three-quarters {
    width: 75%;
}
  .widescreen--three-fifths {width:60%;}
.btn {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    letter-spacing: 0em;
    padding: 9px 20px;
    margin: 0;
    min-width: 90px;
    line-height: 1.42;
    font-size: 1em;
    background: #00ce5a url(//cdn.shopify.com/s/files/1/0004/0809/2719/files/arrows.png?v=1530301543) no-repeat 150% 35%;
        background-size: auto auto;
    background-size: 29px;
}
.btn:hover, .btn--secondary:hover, .collapsibles-wrapper .spr-summary-actions a:hover, .collapsibles-wrapper .spr-button:hover, .rte .btn:hover, .rte .btn--secondary:hover, .rte .collapsibles-wrapper .spr-summary-actions a:hover, .collapsibles-wrapper .spr-summary-actions .rte a:hover, .rte .collapsibles-wrapper .spr-button:hover, .collapsibles-wrapper .rte .spr-button:hover {
    color: #fff;
    padding-right: 55px;
    background-position: 91% 35%;
}
.text-spacing {
    margin-bottom: 20px;
}
.rte p, .rte ul, .rte ol, .rte table {
    margin-bottom: 25px;
}
p, .paragraph {
    margin: 0 0 20px 0;
        margin-bottom: 20px;
}
/* body, input, textarea, button, select, p {
    font-family: Open Sans, "HelveticaNeue","Helvetica Neue",sans-serif;
    letter-spacing: 0em;
    line-height: 1.5;
    font-size: 16px;
    text-rendering: optimizeSpeed;
} */
  


.rte h1, .rte .h1, .rte h2, .rte .h2, .rte h3, .rte .h3, .rte h4, .rte .h4, .rte h5, .rte .h5, .rte h6, .rte .h6 {
    margin-top: 2.5em;
    margin-bottom: 1em;
}
.rte > p:last-child {
    margin-bottom: 0;
}
  .push--large--one-twelfth {
    left: 0px;
}

  label {
    font-style: normal;
  }
  
  .btn:hover, .btn--secondary:hover, .rte .btn:hover, .rte .btn--secondary:hover {
    background-color: #00ce5a;
}
  
  
  
  
   @media screen and (max-width: 768px)
    {
    /*     .owl-nav button{
            top: 21.5%!important;
      } */
     .form-vertical {
        margin-bottom: 15px;
        margin-left: -10px;
    }.widescreen--three-fifths {
        width: auto !important;
        margin: 0px auto !important;
    }
}
  
 @media only screen and (max-width: 600px) {
   .section-you-may-like {
    padding-bottom: 20px;
    margin-top: 30px;
   }
}
  
@media screen and (max-width: 420px) and (min-width: 280px){
    .yml-bottom-border {
      border-top: 1px solid #dbdcdb;
      padding-top: 0px;
      padding-bottom: 10px;
      margin-top: 50px;
    }
}
  
@media only screen and (min-width: 600px) {
   .yml-bottom-border {
      border-top: 1px solid #dbdcdb;
      padding-top: 0px;
      padding-bottom: 10px;
      margin-top: 60px;
    }
 }

</style>

{% schema %}
  {
    "name": "New Carousel",
    "settings": [
     {
        "type": "checkbox",
        "id": "new_carousel",
        "label": "New Carousel"
     },
     {
          "id": "collectionMob",
          "type": "collection",
          "label": "Mobile Collection"
		},
		{
          "id": "TextBottomMob",
          "type": "html",
          "label": "Bottom Text For Mobile"
		},
      {
         "type":"text",
         "id":"productcarousel_margin_top",
         "label":"Section Margin Top"
      }
     ],
   "presets": [
      {
        "name": "New Carousel",
        "category": "Image"
      }
    ]
  }

{% endschema %}