@media screen and (max-width: 1500px) {
  .popup-videos{
  	bottom:-80px;
  }
  #nous-contacter .related-products {
  	  clear: both;
  }
}
@media screen and (min-width: 1200px) {
  .click.mobile a{
  	width: 42%;
  }
}
@media screen and (max-width: 1440px) {
  .popup-videos{
  	bottom:-83px;
  }
  .box-swiper{
  	width:95%;
  }
}
@media screen and (max-width: 1366px) {
  .popup-videos{
  	bottom:-88px;
  }
  .owl-carousel.owl-pop-culture .owl-nav .owl-prev{
  	left: -2%;
  }
  .owl-carousel.owl-pop-culture .owl-nav .owl-next{
  	    right: -4%;
  }
  .box-swiper{
  	width:100%;
  }
}
@media screen and (max-width: 1280px) {
  .popup-videos{
  	bottom:-94px;
    right: 6%;
  }
  #section-welcome:before {
    top: -5%;
    left: -5%;
    background-size: 110%;
  }
  #section-welcome:after {
    bottom: -5%;
    right: -5%;
    background-size: 110%;
  }
  .feature-row__item.custom-items .feature-row__image-wrapper .img-3 {
    left: auto;
    top: 0;
    right: 30px;
  }
  .how-it-work .bgr-how-it-work {
    padding: 90px 0px;
  }
  .banner-collections .content-banner .box-content-banner {
    width: 56%;
  }
  .content-bgr-wrapper .banner-content .box-banner-content h2{
  	 max-width: 57%;
  }
}


@media screen and (max-width: 1200px) {
  .popup-videos{
  	bottom:-100px;
    right: 3%;
  }
  ul#AccessibleNav .site-nav__link {
    padding: 5px;
  }
  .custom-box-key-point {
    width: 200px;
    height: 200px;
  }
  .hero__text-wrap.slideshow__overlay .hero__text-content {
    top: 50px;
    right: 5%;
    max-width: 500px;
    background-position: 205px 28px;
    background-size: 58%;
  }
  body .hero__slide .hero__subtitle {
    font-size: 30px;
  }
  .hero__slide .h1.hero__title {
    font-size: 40px;
  }
  body .hero__slide a.hero__cta {
    font-size: 22px;
  }
  .custom-dev-image-full .image-row-right h2.sub-head-col {
  	font-size: 48px;
  }
  .aos-animate {
    .img-1, .img-2, .img-3 {
      width: 45%;      
    }  
  }
  .feature-row__item.custom-items .feature-row__image-wrapper .img-2 {
    left: 27%;
  }
  .feature-row__item.custom-items .feature-row__image-wrapper .img-3 {
    top: 0;
    right: -10%;
  }
  .custom-left-dev .image-row-right .head-col {
  	font-size: 32px;
  }
  .custom-left-dev .image-row-right .sub-head-col {
  	font-size: 45px;
  }
  .custom-left-dev .image-row-right p {
    font-size: 21px;
  }
  .how-it-work .bgr-how-it-work {
    padding: 80px 0px;
  }
  .banner-collections .content-banner .box-content-banner {
    width: 61%;
    padding-top: 110px;
    background-position: 100% 63%;
  }
  .banner-collections .content-banner .box-content-banner h2 {
    font-size: 64px;
  }
  .content-bgr-wrapper .banner-content .box-banner-content h2 {
    max-width: 80%;
  }
  .owl-carousel.owl-pop-culture .owl-nav{
	display:block;
    position: initial;
/*     top: 20%; */
  	width: 100%;
}
  #shopify-section-1520670823594 .custom-box-key-point img{
    width: 300px;
    height: 300px;
    max-width: 100% !important;
    max-height: 100% !important;
    border-radius:50%;
	}
}

@media screen and (max-width: 767px) {
/*   .grid.product-single .slick-initialized.slick-slider {
    width: 100%;
    margin-bottom: 0;
    .slick-list.draggable {
      width: 100%;
      .slick-track {
        width: 100% !important;
        .slick-slide {
          width: 100%;
        }
      }
    }
  } */
}

@media screen and (max-width: 1184px) {

}
@media screen and (max-width: 1024px) {
  #section-welcome:after {
    bottom: -8%;
    right: -14%;
  }
  .popup-videos {
    right: 0;
    bottom: -119px;
    transform: scale(0.85);
  }
  .owl-carousel .owl-stage-outer {
  	width: 100%;
  }
  .hero__text-wrap.slideshow__overlay .hero__text-content {
    top: 10px;
  }
  #AccessibleNav {
  	text-align: left !important;
  }
  #tab-nav li.site-nav__item.site-nav__item--compressed {
    margin-top: -55px;
  }
  .feedback .owl-feedback .item {
    flex-wrap: wrap;
    padding-top: 15px;
  }
  .feedback .owl-feedback .item .owl-image,
  .feedback .owl-feedback .item .owl-content{
    width: 100%;
    padding: 0;
  }
  .custom-bottom-image-full-left img.image-2 {
    right: 0%;
  }
  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
  }

  .video-wrapper iframe,
  .video-wrapper object,
  .video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .how-it-work .bgr-how-it-work {
    padding: 70px 0px;
  }
  .banner-collections .content-banner .box-content-banner {
    width: 62%;
    background-position: 100% 62%;
  }
  .banner-collections .content-banner .box-content-banner h2 {
    font-size: 58px;
  }
  template .section-header {
    margin-top: 0;
  }
  .grid__item.custom-col-4 .grid__image a {
    width: 100%;
    height: auto;
  }
  .feature-row__image {
    position: relative;
  }
  #shopify-section-list-collections-template .section-header {
    margin-top: 110px;
  }
  #shopify-section-list-collections-template .grid.collection-grid {
    padding-bottom: 120px;
  }
  .content-bgr-wrapper .banner-content .box-banner-content h3{
  	 font-size: 32px;
     margin-bottom: 0;
  }
  .content-bgr-wrapper .banner-content .box-banner-content h2 {
    max-width: 60%;
    font-size: 55px;
  }
  .content-bgr-wrapper .banner-content .box-banner-content{
  	background-position: 75% 60%;
  }
  .content-bgr-wrapper .banner-content .box-banner-content a{
  	font-size: 22px;
  }
  .content-bgr-wrapper .banner-content{
  	    overflow: hidden;
  }
  .content-bgr-wrapper .banner-content .box-banner-content{
    padding-top: 80px;
    padding-bottom: 160px;
  }
  .template-page .section-content-bgr header.section-header{
  	margin-top: 25px;
  }
  .why-try-one h2{
  	font-size: 42px
  }
  #carousel-why{
  	    margin-top: 0px;
  }
  #nous-contacter .Featured-collection-wrapper.cont .related-products .image-wrap > div {
    padding: 0 !important;
  }
  #nous-contacter .Featured-collection-wrapper .grid-product__meta {
    min-height: auto;
  }
}
@media only screen and (max-width: 940px){
  .page-container div#shopify-section-slideshow .slick-slider {
    margin-top: 0 !important;
  }
  .banner-collections .content-banner .box-content-banner {
    width: 63%;
    padding-top: 60px;
    padding-right: 50px;
    background-position: 90% 53%;
    background-size: 55%;
  }
  #shopify-section-list-collections-template .section-header {
    margin-top: 100px;
  }
  #shopify-section-list-collections-template .grid.collection-grid {
    padding-bottom: 110px;
  }
  .content-bgr-wrapper .banner-content .box-banner-content h2 {
      max-width: 55%;
      font-size: 42px;
      line-height: 42px;
      margin-top: 15px;
  }
  .content-bgr-wrapper .banner-content .box-banner-content{
  	padding-bottom: 140px;
  }
  .grid-bgr .element-item{
  	    width: 33%;
  }
  .button-group.filter-button-group button{
  	padding: 2px 25px;
    margin: 5px 5px;
  }
  .button-group.filter-button-group button.all {
    min-width: 130px;
}
  .section-masonry{
  	padding: 70px 0px 65px;
  }
}
@media screen and (max-width: 850px) {
  .how-it-work .wrapper {
  	padding: 0;
  }
  .how-it-work .box-iframe {
    width: 100%;
    background: url(border-iframe.png) no-repeat;
    height: 490px;
    background-size: 100%;
  }
  .how-it-work .bgr-how-it-work {
    padding: 60px 0px;
  }
  .banner-collections .content-banner .box-content-banner {
    width: 71%;
    padding-top: 40px;
    padding-right: 50px;
    background-position: 100% 40%;
    background-size: 60%;
  }
  #shopify-section-list-collections-template .section-header {
    margin-top: 90px;
  }
  #shopify-section-list-collections-template .grid.collection-grid {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 769px) {
 .header-container .large--one-sixth {
    width: 100%;
 }
  #it-starts-like-this .for-mobi-nav .site_nav_mob li.site-nav__item:first-child {
  	background-color:#fff;
    height:86px;
  }
}


@media screen and (max-width: 768px) {
  .input-group__btn button#Subscribe {
  	width:100%;
    margin: 10px auto !important;
    max-width:100px;
    display:block;
  }
  .hero__header .top-header-panel {
    bottom: 0;
  }
  .header-wrapper .top-header-panel {
  	bottom:0px
  }
  .grid .grid__item {
    margin-bottom: 30px;
  }
  .popup-videos {
    right: -45px;
    bottom: -141px;
    transform: scale(0.75);
  }
  .hero__text-wrap.slideshow__overlay .hero__text-content {
    right: auto;
  }
  #section-welcome .content-text .text h2 {
    font-size: 20px;
  }
  #section-welcome .content-text .text p {
    font-size: 16px;
  }
  #section-welcome:after {
    bottom: -10%;
    right: -15%;
  }
  body #shopify-section-1520670823594 {
    margin-top: 90px;
  }
  .how-it-work .box-iframe {
    height: 440px;
  }
  .how-it-work .box-iframe .border-radius {
    width: 96%;
    height: 388px;
  }
  .wrapper {
    width: 96%;
  }
  .box-relative,
  .border-box-content-text-nice,
  .custom-nice .box-content-text-nice {
    width: 100%;
  }
  .border-box-content-text-nice {
    background-size: 100% 100%;
  }
  .how-it-work .bgr-how-it-work {
    padding: 40px 0px;
  }
  ul#mob-nav {
    margin: 0;
    margin-top: 73px !important;
    padding: 0 0px !important;
  }
  li.site-nav__item.site-nav__item--compressed {
    margin: 0px !important;
    display: inline-block;
    min-width: 33.33%;
    text-align: center;
    max-width: 50%;
  }
  .for-mobi-nav .site_nav_mob li.site-nav__item {
    float: left;
    background-color: #f4f4f4;
    background-color: #ffffff;
  }
  .for-mobi-nav .site_nav_mob li.site-nav__item:first-child {
    float: left;
    border-right: 1px solid #ddd;
    margin-top: -5px !important;
  }
  li.site-nav__item.site-nav__item--compressed {
    margin: 0px !important;
    display: inline-block;
    min-width: 33.33%;
    text-align: center;
    max-width: 50%;
  }
  #it-starts-like-this .for-mobi-nav .site_nav_mob li.site-nav__item:first-child {
  	background-color:#fff;
    height:81px;
  }
  #it-starts-like-this .site-nav__item { margin-top: -1px !important}
  .for-mobi-nav .site_nav_mob {
    background-color: #f4f4f4;
  }
  .for-mobi-nav .site_nav_mob li.site-nav__item:last-child {
    float: right;
    border-left: 1px solid #ddd;
  }
  .border-radius .video-wrapper,
  .how-it-work .box-iframe iframe {
    height: -webkit-fill-available;
    height: -moz-fill-available;
    height: -ms-fill-available;
    height: -o-fill-available;
  }
  .banner-collections .content-banner .box-content-banner {
    width: 69%;
    padding-top: 30px;
    padding-right: 40px;
    background-position: 100% 45%;
    background-size: 60%;
    padding-bottom: 170px;
  }
  .banner-collections .content-banner .box-content-banner h3 {
    font-size: 30px;
  }
  .banner-collections .content-banner .box-content-banner h2 {
    font-size: 48px;
  }
  #collections .large--text-left {
    width: 100%;
  }
  #shopify-section-list-collections-template .section-header {
    margin-top: 80px;
  }
  #shopify-section-list-collections-template .grid.collection-grid {
    padding-bottom: 90px;
  }
  
}
@media screen and (max-width: 768px) {
/*     .template-search .grid-uniform {
    padding-top: 80px;
} */
    
.yml-bottom-border {
    margin-top: 0 !important;
}
.wrp-related-products .owl-stage-outer {
    min-height: 1px !important;
}
  .template-search .product--wrapper {
    margin: 0px auto !important;
    width: 80% !important;
}
.template-search a.grid-product__meta {
    padding-bottom: 0px;
}
  .content-bgr-wrapper .banner-content .box-banner-content {
      background-position: 80% 60%;
        background-size: 30%;
  }
  .content-bgr-wrapper .banner-content .box-banner-content h2{
  	    max-width: 57%;
  }
  .section-content-bgr header.section-header h1{
  	    font-family: "Bilbo Swash Caps" !important;
  }
  .description-bgr h4, .section-pop-culture .slider-pop-culture h3{
  	    font-size: 18px;
  }
  .description-bgr p, .section-pop-culture .slider-pop-culture p{
  	    font-size: 16px;
  }
/*   #carousel-why{
  	    height: 460px;
  } */
  .why-try-one h2 {
    font-size: 32px;
}
  .why-try-one h5{
  	    font-size: 18px;
  }
  .why-try-one a{
  	    width: 195px;
    margin: 20px auto 47px;
        font-size: 18px;
  }
  #comment-ca-marche header.section-header.text-center h1{
   	font-size:25px !important; 
  }
  
}
@media screen and (min-width: 768px) {
/*  .template-search .grid-uniform {
    margin-top: 40px;
} */
  p.molib {
    margin-bottom: 55px !important;
    position: relative;
}
  .template-search header.section-header.text-center {
    margin-bottom: 40px;
}
}
@media screen and (max-width: 767px) {
.MobCollectionSlide header {
    padding: 0px;
}  
  .template-search .product--image {
    opacity: 1 !important;
    display: block !important;
}
.template-search a.grid-product__image-link {
    transition: none !important;
}
 .template-search .grid-product__image-wrapper.aos-init.aos-animate:nth-of-type(1) [data-aos^=zoom][data-aos^=zoom],  .template-search .grid-product__image-wrapper.aos-init.aos-animate:nth-of-type(2) [data-aos^=zoom][data-aos^=zoom] {
    opacity: 1 !important;
}
.template-search .aos-animate .image-wrap img:not([role="presentation"]), .aos-animate .image-wrap svg, .aos-animate .image-wrap .animate-me {
    animation: none !important;
}
.template-search .product--wrapper {
    margin: 0px auto !important;
    width: 100% !important;
}
.template-search .grid__item {
    margin-right: 20px;
}
.template-search .grid-product {
    height: 370px;
}  
.template-search a.grid-product__meta {
    padding-bottom: 0px;
}
  .template-search .grid-uniform {
    top: 99px;
    position: relative;
    left: 18px;
}

.template-search #shopify-section-footer {
    margin-top: 50px !important;
}  
  .announcement-bar p.announcement-bar__message {
    max-width: 100%;
  }
  .content-bgr-wrapper .banner-content .box-banner-content h2 {
    max-width: 75%;
	}
  .content-bgr-wrapper .banner-content .box-banner-content a {
    font-size: 18px;
    padding: 5px 30px;
	}
  .grid-bgr .element-item {
    width: 50%;
  }
  #nous-contacter .Featured-collection-wrapper.cont .related-products .image-wrap > div {
    padding: 62% !important;
  }
}
@media screen and (max-width: 736px) {
}
@media screen and (max-width: 684px) {

  #section-welcome:before {
    top: -8%;
    left: -8%;
  }
  #section-welcome:after {
    bottom: -10%;
    right: -20%;
  }
  .how-it-work .box-iframe .border-radius {
    height: 344px;
  }
  .custom-nice .box-content-text-nice {
    padding: 40px;
  }
  #section-welcome .box-desc p {
    font-size: 18px;
  }
  .box-contert .content-text {
    width: 100%;
  }
  #section-welcome {
    min-height: 825px;
  }
  .custom-bottom-image-full-left,
  .custom-bottom-image-full-right {
    width: 100%;
  }
  .popup-videos {
    right: -90px;
    bottom: -154px;
    transform: scale(0.56);
  }
  .how-it-work .bgr-how-it-work {
    padding: 30px 0px;
  }
  .full-width-image {
    min-height: 600px;
  }
  #collections .large--text-left {
    width: 100%;
  }
  .banner-collections .content-banner .box-content-banner {
    width: 73%;
    padding-top: 20px;
    padding-right: 30px;
    background-position: 100% 40%;
    background-size: 60%;
    padding-bottom: 130px;
  }
  .grid__item.custom-col-4 {
    width: 100%;
  }
  #shopify-section-list-collections-template .section-header {
    margin-top: 70px;
  }
  #shopify-section-list-collections-template .grid.collection-grid {
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 636px) {
  .how-it-work .box-iframe .border-radius {
    height: 314px;
  }
  #section-welcome .content-text {
    overflow: hidden;
    margin-top: 0;
  }
  #section-welcome .title-section h2 {
    font-size: 36px;
  }
  #section-welcome .title-section h2 i {
    width: 120px;
    height: 120px;
  }
  #section-welcome .box-desc h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .how-it-work .bgr-how-it-work {
    padding: 20px 0px;
  }
  .feature-row__item.custom-items .feature-row__image-wrapper {
    min-height: 380px;
  }
  .how-it-work .box-iframe {
    height: 380px;
  }
  .full-width-image .custom-nice h4.h1.mega-title.subhead-img-section {
    margin-top: 70px;
  }
  .full-width-image {
    min-height: 580px;
  }
  .banner-collections .content-banner .box-content-banner {
    width: 73%;
    padding-top: 10px;
    padding-right: 20px;
    background-position: 100% 60%;
    background-size: 65%;
    padding-bottom: 90px;
  }
  #shopify-section-list-collections-template .section-header {
    margin-top: 60px;
  }
  #shopify-section-list-collections-template .grid.collection-grid {
    padding-bottom: 70px;
  }
  #nous-contacter .form-vertical {
    margin-left: 30px;
  }
}

@media screen and (min-width: 569px) and (max-width: 635px) {
	.wrapper {
      padding: 0;
    }
}
@media screen and (max-width: 599px) {
  #nous-contacter .form-vertical {
    margin-left: 15px;
  }
}
@media screen and (max-width: 580px) {
  
}
@media screen and (max-width: 568px) {
  .banner-collectionss {
      border-bottom: 0px solid #dbdcdb;
  }
  .hero__text-wrap.slideshow__overlay .hero__text-content {
    max-width: 444px;
  }
  body .hero__slide .hero__subtitle {
    font-size: 26px;
  }
  .hero__slide .h1.hero__title {
    font-size: 34px;
  }
  body .hero__slide a.hero__cta {
    font-size: 20px;
  }
  .popup-videos {
    right: -98px;
    bottom: -163px;
  }
  .how-it-work .box-iframe .border-radius {
    height: 274px;
  }
  #section-welcome .title-section h2 {
    font-size: 32px;
  }
  #section-welcome .box-desc p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.2;
  }
  #section-welcome {
    min-height: 900px;
  }
  .box-contert .content-text .icon,
  .box-contert .content-text .text {
    width: 100%;
  }
  body .text-bottom-home-wrapper .description-img p {
    font-size: 18px;
  }
  .custom-dev-image-full .image-row-right .head-col {
    font-size: 32px;
  }
  .custom-dev-image-full .image-row-right h2.sub-head-col {
    font-size: 42px;
  }
  .head-col {
    font-size: 26px;
  }
  .custom-left-dev .image-row-right .sub-head-col {
    font-size: 38px;
  }
  .custom-nice .box-content-text-nice {
    padding: 30px;
  }
  .box-relative .rte-setting p {
    font-size: 22px;
  }
  .box-relative a.hero__btn {
    font-size: 18px;
  }
  .custom-quotes  .section-header h2 {
    font-size: 40px;
  }
  .feedback .review {
    flex-wrap: wrap;
  }
  .review .sub3 {
    max-width: 260px;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }
  .feedback .sub3 a {
    margin-left: 0;
  }
  
  .how-it-work .bgr-how-it-work {
    padding: 10px 0px;
  }
  .feature-row__item.custom-items .feature-row__image-wrapper {
    min-height: 360px;
  }
  .how-it-work .box-iframe {
    height: 330px;
  }
  
  #section-welcome .title-section h2 i {
    width: 100px;
    height: 100px;
  }
  .full-width-image .custom-nice h4.h1.mega-title.subhead-img-section {
    margin-top: 60px;
  }
  .full-width-image {
    min-height: 560px;
  }
  .banner-collections .content-banner .box-content-banner {
    width: 85%;
    padding-top: 10px;
    padding-right: 20px;
    background-position: 100% 79%;
    background-size: 63%;
    padding-bottom: 50px;
  }
  .banner-collections .content-banner .box-content-banner h3 {
    font-size: 26px;
  }
  .banner-collections .content-banner .box-content-banner h2 {
    font-size: 44px;
  }
  #shopify-section-list-collections-template .section-header {
    margin-top: 50px;
  }
  #shopify-section-list-collections-template .grid.collection-grid {
    padding-bottom: 60px;
  }
  .content-bgr-wrapper .banner-content .box-banner-content{
  	    background-position: 100% 60%;
    background-size: 40%;
  }
  .content-bgr-wrapper .banner-content .box-banner-content h3{
  	    font-size: 24px;
  }
  .content-bgr-wrapper .banner-content .box-banner-content h2 {
    max-width: 100%;
	}
}
@media screen and (max-width: 520px) {
  .grid-bgr .element-item {
    width: 100%;
}
  .button-group.filter-button-group button{
      font-size: 16px;
  	}
}
@media screen and (max-width: 475px) {
  .hero__text-wrap.slideshow__overlay .hero__text-content {
    background-position: 195px 15px;
    background-size: 53%;
  }
  .how-it-work .box-iframe .border-radius {
    height: 238px;
    top: 10px;
  }
  .popup-videos {
    right: -150px;
    bottom: -180px;
    transform: scale(0.3);
  }
  body .hero__slide .hero__subtitle {
    font-size: 22px;
  }
  .hero__slide .h1.hero__title {
    font-size: 30px;
    margin-bottom: 0;
  }
  .custom-dev-image-full .image-row-right .head-col {
    font-size: 28px;
  }
  .custom-dev-image-full .image-row-right h2.sub-head-col {
    font-size: 36px;
    margin-bottom: 0;
  }
  .custom-dev-image-full .image-row-right p {
    font-size: 20px;
    line-height: 1.2;
  }
  .custom-dev-image-full .image-row-right a.btn {
    font-size: 18px;
  }
  .custom-left-dev .image-row-right .head-col {
    font-size: 26px;
  }
  .hero__text-wrap.slideshow__overlay .hero__text-content {
    background-position: 144px 12px;
    background-size: 52%;
    max-width: 340px;
    padding-right: 40px;
  }
  #section-welcome .title-section h2 {
    font-size: 26px;
  }
  #section-welcome:before {
    top: -8%;
    left: -20%;
  }
  #section-welcome:after {
    bottom: -10%;
    right: -40%;
  }
  .box-contert .content-text .text {
    padding: 0 10px;
  }
  .custom-dev-image-full .image-row-right .head-col {
    font-size: 24px;
  }
  .custom-dev-image-full .image-row-right h2.sub-head-col {
    font-size: 30px;
    margin-bottom: 0;
  }
  .custom-dev-image-full .image-row-right a.btn {
    font-size: 16px;
  }
  .custom-left-dev .image-row-right .head-col {
    font-size: 20px;
  }
  .custom-left-dev .image-row-right .sub-head-col {
    font-size: 26px;
  }
  body .hero__slide a.hero__cta {
    font-size: 16px;
  }
  .custom-left-dev .image-row-right p {
    font-size: 18px;
  }
  .how-it-work .bgr-how-it-work {
    padding: 0px 0px;
  }
  .feature-row__item.custom-items .feature-row__image-wrapper {
    min-height: 340px;
  }
  .how-it-work .box-iframe {
    height: 280px;
  }
  #section-welcome .title-section h2 i {
    width: 90px;
    height: 90px;
  }
  .full-width-image .custom-nice h4.h1.mega-title.subhead-img-section {
    margin-top: 50px;
  }
  .full-width-image {
    min-height: 540px;
  }
  .banner-collections .content-banner .box-content-banner {
    width: 90%;
    padding-top: 10px;
    padding-right: 20px;
    background-position: 100% 79%;
    background-size: 63%;
    padding-bottom: 50px;
  }
  .banner-collections .content-banner .box-content-banner h3 {
    font-size: 22px;
    margin-bottom: 0;
  }
  .banner-collections .content-banner .box-content-banner h2 {
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  .banner-collections .content-banner .box-content-banner a {
    font-size: 22px;
  }
  #shopify-section-list-collections-template .section-header {
    margin-top: 40px;
  }
  #shopify-section-list-collections-template .grid.collection-grid {
    padding-bottom: 50px;
  }
  #mycreanimale .custom-dev-image-full .feature-row__item img.image-apparel {
    left: -50px;
  }
  #mycreanimale .custom-left-dev .image-row-right a.btn {
      padding: 5px 18px;
  }
  #mycreanimale .Single-product-home .product-thumbnail__photos .product-single__photo--flex-wrapper.web-hide{
  	  position: inherit;
  }
  #mycreanimale #ProductImageWrapper-3172490379311, #mycreanimale .product-single__photo--container.product-single__photo--container-thumb{
  	max-width:100%;
  }
  #mycreanimale .product-single__photo--container.product-single__photo--container-thumb img{
  	max-width: 100%;
    margin-top: 90px;
  }
  #mycreanimale .product-single__photo-wrapper{
  	width: 100%;
    height: 568px;
    margin-top:0px !important; 
  }
  #mycreanimale .feature-row__item.custom-items .feature-row__image-wrapper .img-3{
  	left: 0px !important;
  }
  .feature-row__item.custom-items .feature-row__image-wrapper .img-2{
  	position: initial;
  }
}

@media screen and (max-width: 414px) {
  #section-welcome .title-section h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #section-welcome .box-desc h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #section-welcome:before {
    top: 0;
    left: -44%;
  }
  #section-welcome:after {
    bottom: -10%;
    right: -50%;
  }
  .popup-videos {
    right: -155px;
    bottom: -185px;
  }
  .how-it-work .box-iframe .border-radius {
    height: 214px;
  }
  .feature-row__item.custom-items .feature-row__image-wrapper {
    min-height: 320px;
  }
  .how-it-work .box-iframe {
    height: 246px;
  }
  #section-welcome .title-section h2 i {
    width: 80px;
    height: 80px;
  }
  .full-width-image .custom-nice h4.h1.mega-title.subhead-img-section {
    margin-top: 40px;
  }
  .full-width-image {
    min-height: 520px;
  }
  .banner-collections .content-banner .box-content-banner {
    width: 91%;
    padding-top: 10px;
    padding-right: 20px;
    background-position: 100% 79%;
    background-size: 63%;
    padding-bottom: 50px;
  }
  .banner-collections .content-banner .box-content-banner h3 {
    font-size: 20px;
  }
  .banner-collections .content-banner .box-content-banner h2 {
    font-size: 36px;
  }
  .banner-collections .content-banner .box-content-banner a {
    font-size: 20px;
  }
  #shopify-section-list-collections-template .section-header {
    margin-top: 30px;
  }
  #shopify-section-list-collections-template .grid.collection-grid {
    padding-bottom: 40px;
  }
  .content-bgr-wrapper .banner-content .box-banner-content h2{
  	font-size: 32px;
    line-height: 32px;
  }
  #carousel-why{
  	    height: 415px;
  }
  .why-try-one h2 {
    font-size: 22px;
  }
  #mycreanimale .hero__slide .hero__subtitle {
    font-size: 18px;
  }
  #mycreanimale .hero__slide .h1.hero__title {
    font-size: 22px;
  }
  #mycreanimale .hero__slide a.hero__cta {
    font-size: 14px;
  }
  #mycreanimale .custom-dev-image-full .feature-row__item img.image-apparel {
    top: -105px;
  }
  #mycreanimale .custom-dev-image-full .image-row-right .head-col {
    font-size: 22px;
  }
  #mycreanimale .custom-dev-image-full .image-row-right h2.sub-head-col {
    font-size: 26px;
    max-width: 100%;
  }
  #mycreanimale .custom-dev-image-full .image-row-right p {
    width: 100%;
  }
  #mycreanimale .custom-left-dev .image-row-right .head-col {
    font-size: 15px;
  }
  #mycreanimale .custom-left-dev .image-row-right p {
    font-size: 16px;
  }
  #mycreanimale .page-container .image-row-right a.btn {
    font-size: 0.8em;
    padding: 5px 15px;
  }
  #mycreanimale .full-width-image .custom-nice h4.h1.mega-title.subhead-img-section {
    font-size: 40px;
  }
  #mycreanimale .box-relative .rte-setting p {
    font-size: 20px;
  }
  .custom-box-key-point {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    padding-top: 10px !important;
    padding-bottom: 15px !important;
  }
  body .text-bottom-home-wrapper h3.h4.title-img{
  	 margin-top: 0;
  }
  #shopify-section-1520708832490 .feature-row .feature-row__image-wrapper img{
  	width: 80%;
    display: block;
    margin: 10px auto;
  }
  .press .logo-bar__item{
  	 margin: 8px 5px;
     width: 29%;
  }
  .popup-videos{
  	right: -125px;
    bottom: -179px;
    transform: scale(0.4);
  }
  .custom-box-key-point, .grid__item.custom-col-4 .grid__image a{
  	 overflow: initial;
  }
  .owl-carousel.owl-pop-culture .owl-nav .owl-prev, .owl-carousel.owl-pop-culture .owl-nav .owl-next{
  	 top: calc(100px - 35px);
  }
  div.owl-carousel.owl-pop-culture .owl-nav .owl-next {
    right: -15px;
  }
}
@media screen and (max-width: 405px) {
	#tee-shirt-homme-col-rond nav.breadcrumb span:last-child {
      border-color: transparent;
    }
}
@media screen and (max-width: 400px) {
	#tee-shirt-femme-col-rond nav.breadcrumb span:last-child {
      border-color: transparent;
    }
  
}
@media screen and (max-width: 375px) {
  .how-it-work .box-iframe .border-radius {
    height: 182px;
  }
  #section-welcome .title-section h2 i {
    width: 70px;
    height: 70px;
  }
  #section-welcome:before {
    top: 0;
    left: -50%;
  }
  #section-welcome:after {
    bottom: -10%;
    right: -60%;
  }
  .custom-nice .box-content-text-nice {
    padding: 20px;
  }
  .full-width-image .custom-nice h4.h1.mega-title.subhead-img-section {
    margin-top: 30px;
  }
  .full-width-image {
    min-height: 500px;
  }
  .index-sections #shopify-section-featured-products {
    margin-top: 0;
    padding-bottom: 0;
  }
  .product .wrapper .text-center.view-all-col a {
    margin: 0 auto;
  }
  .logo-full-container.custom-logo-full-container {
    padding-bottom: 0;
    padding-top: 0;
  }
  .index-sections .shopify-section {
    margin-top: 0;
  }
  .feedback {
    padding: 20px 0 40px;
  }
  .custom-bottom-image-full-left img.image-2 {
    position: relative;
    width: 100%;
  }
  .custom-bottom-image-full-left img.image-3 {
    margin-top: -27px;
    width: 100%;
  }
  .banner-collections .content-banner .box-content-banner {
    width: 97%;
    padding-top: 10px;
    padding-right: 20px;
    background-position: 100% 66%;
    background-size: 63%;
    padding-bottom: 50px;
  }
  .banner-collections .content-banner .box-content-banner h3 {
    font-size: 18px;
  }
  .banner-collections .content-banner .box-content-banner h2 {
    font-size: 32px;
  }
  .banner-collections .content-banner .box-content-banner a {
    font-size: 18px;
    padding: 7px 30px;
  }
  #shopify-section-list-collections-template .section-header {
    margin-top: 20px;
  }
  #shopify-section-list-collections-template .grid.collection-grid {
    padding-bottom: 30px;
  }

  #nous-contacter .form-vertical {
    margin-left: 0;
  }
  #shopify-section-1530777537622 .custom-bottom-image-full .custom-bottom-image-full-left img{
  	width: 75%;
    margin: 10px auto;
    display: block;
  }
  #shopify-section-1520670823594 .feature-row__image-wrapper{
  	    overflow: inherit;
  }
  .popup-videos {
    right: -144px;
    bottom: -184px;
    transform: scale(0.35);
   }
}

@media screen and (max-width: 320px) {
  #section-welcome:before {
    top: 0;
    left: -60%;
  }
  .popup-videos {
    right: -175px;
    bottom: -195px;
    transform: scale(0.2);
  }
  #section-welcome {
    min-height: 940px;
  }
  body #shopify-section-1520670823594 {
    margin-top: 100px;
  }
  .custom-left-dev .image-row-right .feature-row__item.feature-row__text.feature-row__text--right {
    padding: 20px;
  }
  .how-it-work .box-iframe .border-radius {
    height: 162px;
  }
}
body.template-cart #shopify-section-footer {
    margin-top: 0px !important;
}
.InnerTextBlockMob {
  margin-bottom: 30px;
}
@media screen and (min-width:1024px) {
.InnerTextBlockMob {
    display: none;
}
}
.mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 23px !important;
    right: 0;
    height: auto;
}
.large--hide.mobile-top-anim {
    z-index: 999999 !important;
}

@media screen and (max-width: 375px) and (min-width: 300px){
    .template-search .gridItemLast {
       margin-bottom: 30px !important;
    }
    /*.MobCollectionSlide .product-related-owrp .owl-stage-outer {
       min-height: 350px !important;
    }*/
}
@media screen and (max-width: 420px) and (min-width: 376px){
    .template-search .gridItemLast {
       margin-bottom: 50px !important;
    }
   /* .MobCollectionSlide .product-related-owrp .owl-stage-outer {
       min-height: 375px !important;
    }*/
}

@media screen and (max-width: 480px) and (min-width: 421px){
   .template-search .gridItemLast {
       margin-bottom: 50px !important;
   }
   /*.MobCollectionSlide .product-related-owrp .owl-stage-outer {
       min-height: 390px !important;
    }*/
}
@media screen and (max-width: 580px) and (min-width: 481px){
   .template-search .gridItemLast {
       margin-bottom: 110px !important;
   }
   /*.MobCollectionSlide .product-related-owrp .owl-stage-outer {
       min-height: 390px !important;
    }*/
}
@media screen and (max-width: 680px) and (min-width: 581px){
   .template-search .gridItemLast {
       margin-bottom: 200px !important;
   }
   .template-product .related-products .grid-product__title, .grid-product .grid-product__title {
       margin-top: 32px !important;
   }
  /*.MobCollectionSlide .product-related-owrp .owl-stage-outer {
       min-height: 460px !important;
    }*/

}
@media screen and (max-width: 767px) and (min-width: 681px){
   .template-search .gridItemLast {
       margin-bottom: 250px !important;
   }
   .template-product .related-products .grid-product__title, .grid-product .grid-product__title {
       margin-top: 32px !important;
   }
}
.InnerTextBlockMob {
    margin-top: 40px !important;
}

@media screen and (max-width: 767px) {
  .InnerTextBlockMob {
      margin-top: 38px !important;
  }
  
  body #shopify-section-footer {
    margin-top: 30px !important;
  }
}