{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<!-- /templates/index.liquid -->

<div class="index-sections">
  {% comment %}
  <div id="section-welcome">
    <div class="page-width wrapper">
      <div class="title-section">
        <h2>Welcome To <i></i> Mycreanimale</h2>
        <hr>
      </div>
      <div class="box-desc">
        <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aoreet dolore magna aliquam Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit... [Read More +]</p>
      </div>
      <div class="box-contert">
        <div class="content-text content-left">
          <div class="icon">{{ 'ic-our-mission.png' | asset_url | img_tag }}</div>
          <div class="text">
            <h2>Our Mission</h2>
            <p>Lorem ipsum dolor sit amet, sectetuer morekmli adip isc... [Read More +]</p>
          </div>
        </div>
        <div class="content-text content-right">
          <div class="icon">{{ 'ic-our-vision.png' | asset_url | img_tag }}</div>
          <div class="text">
            <h2>Our Vision</h2>
            <p>Lorem ipsum dolor sit amet, sectetuer morekmli adip isc... [Read More +]</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}
  {{ content_for_index }}
   

</div>
