{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<!-- /templates/page.liquid -->
<div class="section-content-bgr">
	{% section 'content-bgr' %}
</div>